@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

.head {
    font-weight: var(--fw-md);
    font-size: var(--fs-3xl);
    color: white;
    font-family: "Yantramanav", serif;
}

.mid-text {
    color: #BBBABA;
    font-size: var(--fs-md);
    font-weight: var(--fw-sm);
    font-family: "Yantramanav", serif;
    max-width: 520px;
}

.circle {
    width: 71px;
    height: 71px;
    background-color: #fff;
    border-radius: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

.large-text {
    font-size: var(--fs-lg);
    color: white;
    font-weight: var(--fw-md);
    margin: 0;
}

.box {
    max-width: 660px;
    padding-bottom: 10px;
    background-color: #151313;
    border-radius: 46px;
}

.box-2 {
    max-width: 660px;
    padding-bottom: 10px;
    background-color: #151313;
    border-radius: 46px;
    margin-top: 15px;
}

.box-3 {
    max-width: 660px;
    padding-bottom: 10px;
    background-color: #151313;
    border-radius: 46px;
    margin-top: 15px;
}

.box-3:hover {
    background-color: #0C0B0B;
}

.box-2:hover {
    background-color: #0C0B0B;
}

.box:hover {
    background-color: #0C0B0B;
}

.short-div {
    padding-left: 20px;
    padding-top: 15px;
}

.small-text {
    font-weight: var(--fw-sm);
    font-size: var(--fs-md);
    color: #B6B6B6;
    font-family: "Yantramanav", serif;
    margin: 0;
}

.circle:hover {
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    color: white;
}

.circ-text {
    padding-top: 20px;
    font-weight: var(--fw-md);
    font-size: var(--fs-lg);
}

.box-parent {
    gap: 10px;
    margin-top: 40px;
}

.img {
    right: 0;
     margin-left: 70px;
    margin-top: 20px; 
}

.bg-color {
    background-color: #1D1A1A;
}

@media (max-width:1200px) {
    .img{
        margin-left: 0px;
        
    }
}